<html>
  <head>
    <script src="js\three.min.js"></script>
    <script src="js\OrbitControls.js"></script>
    <script src="js\OBJLoader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js"></script>
    <link rel="stylesheet" href="stylesheets\style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <title>Model viewer</title>
  </head>
  <body>
    <div id="loading-screen">
      <div id="loader"></div>
    </div>
    <div id="error">Something went wrong, please try again...</div>
    <div id="container"></div>
    <script src="app.js"></script>
    <script src="modelList.js"></script>
  </body>
</html>
